::root {
  var-main-colour: #F04831;
}
@font-face

{
    font-family: neutradistit;
    src: url('neutraface2displaytitling.otf')
}
@font-face

{
    font-family: museosans;
    src: url('museosans.otf')
}
* {
-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
*:focus {
    outline: 0;
}
body {
    background-color: #fefefe;
    color: #484746;
    text-align: center;
    font-family: 'museosans';
    margin: 0;
    padding: 0;
    padding-bottom: 5%;
}
p {
    font-size: 2em;
}
#logo {
    color: var(main-colour)!important;
    padding: 0;
    margin: 0;
    font-size: 6em;
    font-family: 'neutradistit';
}
#logoeven {
    color: #fefefe!important;
    padding: 0;
    margin: 0;
}
a {
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: var(main-colour)!important;
}
.slide {
    position: relative;
    width: 55%;
    height: 33.333%;
    margin: auto;
    overflow: hidden;
    padding: 1%;
}
h1 {
    font-family: museosans, sans-serif;
    font-size: 2em;
}
#feedone {
    -webkit-transition: all 0.5s ease-in-out;
    height: 150px;
    font-size: 0!important;
    overflow: hidden;
    margin: 8px;
}
.biginst {
    -webkit-transition: all 0.5s ease-in-out;
    height: 750px!important;
}
.instimg {
    border-radius: 50%;
}
.title {
    text-transform: uppercase;
    color: var(main-colour);
    font-size: 1em;
    padding: 0;
    margin: 0;
}
footer {
    width: 100%!important;
    background-color: #484746;
    color: #fefefe;
    margin-top: 50px;
    font-size: 1em;
    text-transform: uppercase;
}
#instdown {
    cursor: pointer;
}
.img {
    border-radius: 1%;
    width: 50%;
    height: 50%;
}
.header {
    background-repeat: no-repeat;
    color: #fefefe;
    border-bottom: solid 10px;
    border-bottom-color: var(main-colour);
}
#slide2 {
    top: 33.333%;
}
.header p {
    padding: 2%;
    margin: 2%;
}

.quotes:before
{
content: '\201C';
}

.quotes:after
{
content: '\201D';
}
/*
===================================================================== 
Buttons
=====================================================================
*/
.btn {
display:inline;
line-height:20px;
text-align:center;
vertical-align:middle;
border:1px solid #cdc8be;
color:#fefefe;
font-family:museosans, sans-serif;
font-weight:700;
text-transform:uppercase;
padding:4px 12px;
}


.btn-large {
-webkit-border-radius:6px;
-moz-border-radius:6px;
border-radius:6px;
width:230px;
height:56px;
font-size:14px;
padding:11px 19px;
}

.btn-block {
display:block;
width:100%;
padding-left:0;
padding-right:0;
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
box-sizing:border-box;
}

.btn-primary {
background-repeat:repeat-x;
background-color:#f04831;
background-image:none;
color:#fff;
border-color:#f04831;
}

.btn-primary:hover {
border-color:#f37261;
background-color:#f37261;
}


/*
===================================================================== 
Face
=====================================================================
*/
.face {
    transform: translate3d(0,0,0);
	background-image:url('../img/face.jpg');
    background-size:cover;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: all 0.5s ease-in-out;
    border-radius: 100%;
	cursor: pointer;
	position: relative;
	margin: 1% auto;
	width: 10em; height: 10em;
	overflow: hidden;

	
}
/* Smartphones (portrait and landscape) ----------- */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    /* Styles */
    .header {
        background-repeat: no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}
/* Smartphones (landscape) ----------- */

@media only screen and (min-width: 321px) {
    /* Styles */
    #logo {
        padding: 0!important;
        margin: 0!important;
    }
    .header p {
        margin: 0;
        padding: 0;
    }
}